[core]
  editor = /Applications/MacVim.app/Contents/MacOS/Vim
[push]
	default = simple
[difftool]
	prompt = false
[alias]
	d = difftool
[diff]
	tool = gvimdiff 
[merge]
	tool = gvimdiff
[mergetool]
  keepBackup = false
[user]
	email = toby.mao@gmail.com
[difftool "gvimdiff"]
	path = /Applications/MacVim.app/Contents/MacOS/Vim
[mergetool "gvimdiff"]
	path = /Applications/MacVim.app/Contents/MacOS/Vim
